{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Food Pantry{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  {%block nav %}
  {% include "fridge_app/navbar.html" %}
  {% endblock %}

  <div id="content">
    {% block content %}
    <p>Default content block</p>
    {% endblock %}
  </div>

  <div class="footer card-footer text-center">
      Django app created by Jennifer Long, Camille Digamo | © 2020 food-pantry-team
  </div>
</body>

</html>
