{% extends "fridge_app/base.html" %}

{% block content %}

<div class="col-sm-4">
  <h2>Dashboard</h2>
  <a href="{% url 'logout'%}">Log out</a>
</div>

<div class="col-sm-8 p-2">
  <h4>Hello, {{ user.get_username }}!</h4>
  <p>What would you like to do today?</p>

  <div class="row m-4 justify-content-center">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Donate food</h5>
          <a href="{% url 'fridge_app:food_add' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Take food</h5>
          <a href="{% url 'fridge_app:food' %}" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
