html, body {
    height: 100%;
}

body {
    background: white url("images/bread_bg.jpg");
}

#content {
    background: rgba(255, 255, 255, 0.6); /* white opacity bg */
    height: 100%;
}

#centerpane {
    background: white; !important
    height: 100%;
}

div.footer{
    background: rgba(255, 255, 255, 0.8);
}
